.header-title-page {
  font-size: 1.6rem;
  border-left: 5px solid var(--primary);
  padding-left: 0.7rem;
}

.upload-dropzone {
  border: 2px dashed var(--primary) !important;
  background-color: #ffffff !important;
  transition: 0.3s ease;
}
.upload-dropzone:hover {
  border-color: var(--accent) !important;
  background: #fff6ce !important;
}

/* DataGrid Table */
.MuiDataGrid-columnHeaders {
  background: var(--primary) !important;
  color: #fff !important;
}

/* Missing cells */
.missing-warning {
  background-color: var(--accent) !important;
  color: #000 !important;
}
.missing-danger {
  background-color: var(--primary) !important;
  color: #fff !important;
}